.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e6f9fd;
    width: 25%;
    height: 75%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: index 3;;
    overflow-x: hidden;
    border-right: 1px solid #e6f9fd;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e6f9fd;

}